<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<script src="../common/js/jquery-1.4.2.min.js"></script>
<script src="../common/js/jquery-ui-1.8.custom.min.js"></script>
<script src="../common/js/jquery.metadata.js"></script>
<script src="../common/js/jquery.validate.js"></script>
<script src="../common/js/xheditor-zh-cn.src.js"></script>
<link rel="stylesheet" href="../common/js/jqueryui/jquery-ui-1.8.1.custom.css" type="text/css">
<!--
<link id="xheCSS_default" rel="stylesheet" href="../common/js/xheditor_skin/default/ui.css" type="text/css">
-->
<script type="text/javascript">
$(function() {

});
</script>
<style>
body{text-align:center;font-size:12px;}
</style>
</head>
<body>

<div style="margin:0 auto;width:90%;">
<?php
echo $this->form;
?>
</div>

<p id='debug'>debug</p>
</body>
</html>
