<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="skin/common/common.css" rel="stylesheet" type="text/css" />
    <link href="skin/tagresult/main.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <?php include('_header.html');?>
    
    <div class="auto_960 pagePosition">
    	<p class="float_left focusPosition"><a href="http://www.pindao.com" title="返回首页" target="_blank">品道网</a>&nbsp;&gt;&nbsp;<a href="javascript:void(0);" title="">Tag</a>&nbsp;&gt;&nbsp;清洁</p>
    </div>
    <div id="main" class="auto_960">
		<div class="tagresult_main_content common_634">
			<div class="common_634">
                <div class="fr_tt">
                    <h2 class="float_left font_size_14">Tags:<strong style="color:#FF6C04;">清洁</strong></h2>
                    <p class="float_right">
                        检索到<strong class="color_b13c83">1222</strong>篇相关<strong class="color_b13c83">清洁</strong>文章
                    </p>
                </div>
                <div class="fr_ct ">
                    <ul>
                        <li>
                            <p class="item_view float_left"><a href="javascript:void(0);" target="_blank"><img width="120" height="120" src="skin/tagresult/p/tagresult_120124.jpg" alt="" /></a></p>
                            <dl class="float_right item_intro">
                                <dt class="item_title ellip5 color_b13c83_a font_size_14"><strong><a href="javascript:void(0);" title="" target="_blank">酷感时尚 秋冬型女必备外套</a></strong></dt>
                                <dd class="item_content">
                                    <p class="text_indent_24">(60)宣传海报中的男女主角宣传海报中的男女主角宣传海报中的男女主角宣传海报中的男女主角宣传海报中的男女主角宣传海报中的男女主角</p>
                                </dd>
                                <dd class="item_dateType">
                                    <span class="item_dateType_date float_left">发布日期：2009-10-22</span>
                                    <span class="item_dateType_type float_left">栏目：<a href="javascript:void(0);" target="_blank" title="">流行服饰</a></span>
                                </dd>
                                <dd class="item_tagContainer">
                                    <p>
                                        <span class="current_color"><a href="javascript:void(0);" title="" target="_blank">清洁</a></span>
                                        <span><a href="javascript:void(0);" title="" target="_blank">小外套</a></span>
                                        <span><a href="javascript:void(0);" title="" target="_blank">裙子</a></span>
                                    </p>
                                </dd>
                            </dl>
                        </li>
                        <li>
                            <p class="item_view float_left"><a href="javascript:void(0);" target="_blank"><img width="120" height="120" src="skin/tagresult/p/tagresult_120124.jpg" alt="" /></a></p>
                            <dl class="float_right item_intro">
                                <dt class="item_title ellip5 color_b13c83_a font_size_14"><strong><a href="javascript:void(0);" title="" target="_blank">酷感时尚 秋冬型女必备外套</a></strong></dt>
                                <dd class="item_content">
                                    <p class="text_indent_24">(60)宣传海报中的男女主角宣传海报中的男女主角宣传海报中的男女主角宣传海报中的男女主角宣传海报中的男女主角宣传海报中的男女主角</p>
                                </dd>
                                <dd class="item_dateType">
                                    <span class="item_dateType_date float_left">发布日期：2009-10-22</span>
                                    <span class="item_dateType_type float_left">栏目：<a href="javascript:void(0);" target="_blank" title="">流行服饰</a></span>
                                </dd>
                                <dd class="item_tagContainer">
                                    <p>
                                        <span class="current_color"><a href="javascript:void(0);" title="" target="_blank">清洁</a></span>
                                        <span><a href="javascript:void(0);" title="" target="_blank">小外套</a></span>
                                        <span><a href="javascript:void(0);" title="" target="_blank">裙子</a></span>
                                    </p>
                                </dd>
                            </dl>
                        </li>
                        <li>
                            <p class="item_view float_left"><a href="javascript:void(0);" target="_blank"><img width="120" height="120" src="skin/tagresult/p/tagresult_120124.jpg" alt="" /></a></p>
                            <dl class="float_right item_intro">
                                <dt class="item_title ellip5 color_b13c83_a font_size_14"><strong><a href="javascript:void(0);" title="" target="_blank">酷感时尚 秋冬型女必备外套</a></strong></dt>
                                <dd class="item_content">
                                    <p class="text_indent_24">(60)宣传海报中的男女主角宣传海报中的男女主角宣传海报中的男女主角宣传海报中的男女主角宣传海报中的男女主角宣传海报中的男女主角</p>
                                </dd>
                                <dd class="item_dateType">
                                    <span class="item_dateType_date float_left">发布日期：2009-10-22</span>
                                    <span class="item_dateType_type float_left">栏目：<a href="javascript:void(0);" target="_blank" title="">流行服饰</a></span>
                                </dd>
                                <dd class="item_tagContainer">
                                    <p>
                                        <span class="current_color"><a href="javascript:void(0);" title="" target="_blank">清洁</a></span>
                                        <span><a href="javascript:void(0);" title="" target="_blank">小外套</a></span>
                                        <span><a href="javascript:void(0);" title="" target="_blank">裙子</a></span>
                                    </p>
                                </dd>
                            </dl>
                        </li>
                        <li>
                            <p class="item_view float_left"><a href="javascript:void(0);" target="_blank"><img width="120" height="120" src="skin/tagresult/p/tagresult_120124.jpg" alt="" /></a></p>
                            <dl class="float_right item_intro">
                                <dt class="item_title ellip5 color_b13c83_a font_size_14"><strong><a href="javascript:void(0);" title="" target="_blank">酷感时尚 秋冬型女必备外套</a></strong></dt>
                                <dd class="item_content">
                                    <p class="text_indent_24">(60)宣传海报中的男女主角宣传海报中的男女主角宣传海报中的男女主角宣传海报中的男女主角宣传海报中的男女主角宣传海报中的男女主角</p>
                                </dd>
                                <dd class="item_dateType">
                                    <span class="item_dateType_date float_left">发布日期：2009-10-22</span>
                                    <span class="item_dateType_type float_left">栏目：<a href="javascript:void(0);" target="_blank" title="">流行服饰</a></span>
                                </dd>
                                <dd class="item_tagContainer">
                                    <p>
                                        <span class="current_color"><a href="javascript:void(0);" title="" target="_blank">清洁</a></span>
                                        <span><a href="javascript:void(0);" title="" target="_blank">小外套</a></span>
                                        <span><a href="javascript:void(0);" title="" target="_blank">裙子</a></span>
                                    </p>
                                </dd>
                            </dl>
                        </li>
                        <li>
                            <p class="item_view float_left"><a href="javascript:void(0);" target="_blank"><img width="120" height="120" src="skin/tagresult/p/tagresult_120124.jpg" alt="" /></a></p>
                            <dl class="float_right item_intro">
                                <dt class="item_title ellip5 color_b13c83_a font_size_14"><strong><a href="javascript:void(0);" title="" target="_blank">酷感时尚 秋冬型女必备外套</a></strong></dt>
                                <dd class="item_content">
                                    <p class="text_indent_24">(60)宣传海报中的男女主角宣传海报中的男女主角宣传海报中的男女主角宣传海报中的男女主角宣传海报中的男女主角宣传海报中的男女主角</p>
                                </dd>
                                <dd class="item_dateType">
                                    <span class="item_dateType_date float_left">发布日期：2009-10-22</span>
                                    <span class="item_dateType_type float_left">栏目：<a href="javascript:void(0);" target="_blank" title="">流行服饰</a></span>
                                </dd>
                                <dd class="item_tagContainer">
                                    <p>
                                        <span class="current_color"><a href="javascript:void(0);" title="" target="_blank">清洁</a></span>
                                        <span><a href="javascript:void(0);" title="" target="_blank">小外套</a></span>
                                        <span><a href="javascript:void(0);" title="" target="_blank">裙子</a></span>
                                        <span><a href="javascript:void(0);" title="" target="_blank">裙子</a></span>
                                        <span class="current_color"><a href="javascript:void(0);" title="" target="_blank">清洁</a></span>
                                        <span><a href="javascript:void(0);" title="" target="_blank">小外套</a></span>
                                        <span><a href="javascript:void(0);" title="" target="_blank">裙子</a></span>
                                        <span><a href="javascript:void(0);" title="" target="_blank">裙子</a></span>
                                        <span class="current_color"><a href="javascript:void(0);" title="" target="_blank">清洁</a></span>
                                        <span><a href="javascript:void(0);" title="" target="_blank">小外套</a></span>
                                        <span><a href="javascript:void(0);" title="" target="_blank">裙子</a></span>
                                        <span><a href="javascript:void(0);" title="" target="_blank">裙子</a></span>
                                        <span class="current_color"><a href="javascript:void(0);" title="" target="_blank">清洁</a></span>
                                        <span><a href="javascript:void(0);" title="" target="_blank">小外套</a></span>
                                        <span><a href="javascript:void(0);" title="" target="_blank">裙子</a></span>
                                        <span><a href="javascript:void(0);" title="" target="_blank">裙子</a></span>
                                        <span class="current_color"><a href="javascript:void(0);" title="" target="_blank">清洁</a></span>
                                        <span><a href="javascript:void(0);" title="" target="_blank">小外套</a></span>
                                        <span><a href="javascript:void(0);" title="" target="_blank">裙子</a></span>
                                        <span><a href="javascript:void(0);" title="" target="_blank">裙子</a></span>
                                    </p>
                                </dd>
                            </dl>
                        </li>
                    </ul>
                    
                    <?//分页 start ?>
                    <div class="page">
                        <a class="previous" href="/list?cateid=183&amp;source=&amp;color=&amp;mode=pic&amp;page=1">上一页</a><a class="this" href="/list?cateid=183&amp;source=&amp;color=&amp;mode=pic&amp;page=1">1</a><a href="/list?cateid=183&amp;source=&amp;color=&amp;mode=pic&amp;page=2">2</a><a href="/list?cateid=183&amp;source=&amp;color=&amp;mode=pic&amp;page=3">3</a><a href="/list?cateid=183&amp;source=&amp;color=&amp;mode=pic&amp;page=4">4</a><a href="/list?cateid=183&amp;source=&amp;color=&amp;mode=pic&amp;page=5">5</a><a class="next" href="/list?cateid=183&amp;source=&amp;color=&amp;mode=pic&amp;page=2">下一页</a>
                    </div>                    
                    <?//分页 end ?>
                    
                    
                </div>
                <p class="fr_bt">&nbsp;</p>
            </div>
            <div class="common_634 tagresult_main_keys">
                <div class="c_container">
                    <h2><span style="padding-left:14px;color:#FB6D00;">清洁</span><span style=" color:#000; padding-left:14px;">相关关键词</span></h2>
                    <ul class="inlinelist">
                        <li><a href="javascript:void(0);" title="">清洁外套</a></li>
                        <li><a href="javascript:void(0);" title="">清清洁外套清洁外套洁马甲</a></li>
                        <li><a href="javascript:void(0);" title="">清洁美女清洁外套</a></li>
                        <li><a href="javascript:void(0);" title="">清洁外套</a></li>
                        <li><a href="javascript:void(0);" title="">清洁马甲</a></li>
                        <li><a href="javascript:void(0);" title="">清洁外套清洁外套清洁美女</a></li>
                        <li><a href="javascript:void(0);" title="">清洁外套</a></li>
                        <li><a href="javascript:void(0);" title="">清洁马甲</a></li>
                        <li><a href="javascript:void(0);" title="">清洁美女</a></li>
                        <li><a href="javascript:void(0);" title="">清洁外套清洁外套清洁外套清洁外套</a></li>
                        <li><a href="javascript:void(0);" title="">清洁马甲</a></li>
                        <li><a href="javascript:void(0);" title="">清洁美女</a></li>
                    </ul>
                </div>    
            </div>
             
                    
        </div>
        <div class="common_312 tagresult_main_side_c">
            <div class="tagresult_main_side_rssshare  common_312">
                <h2 class="float_left rss">&nbsp;</h2>
                <h2 class=" float_right share">&nbsp;</h2>
            </div>
            <div class=" tagresult_main_sidebar common_310">
                <div class="common_310 hotTags">
                    <div class="fr_tt"><h3 class="float_left color_b13c83 font_size_14">热门Tag</h3></div>
                    <div class="fr_ct">
                        <ul >
                            <li><a href="javascript:void(0);" title="">实习</a></li>
                            <li><a href="javascript:void(0);" title="">滑雪</a></li>
                            <li><a href="javascript:void(0);" title="">考试</a></li>
                            <li><a href="javascript:void(0);" title="">后来</a></li>
                            <li><a href="javascript:void(0);" title="">二手房</a></li>
                            <li><a href="javascript:void(0);" title="">照明</a></li>
                            <li><a href="javascript:void(0);" title="">外汇报价</a></li>
                            <li><a href="javascript:void(0);" title="">成立公司</a></li>
                            <li><a href="javascript:void(0);" title="">冷饮加盟</a></li>
                            <li><a href="javascript:void(0);" title="">实习</a></li>
                            <li><a href="javascript:void(0);" title="">滑雪</a></li>
                            <li><a href="javascript:void(0);" title="">考试</a></li>
                            <li><a href="javascript:void(0);" title="">后来</a></li>
                            <li><a href="javascript:void(0);" title="">二手房</a></li>
                            <li><a href="javascript:void(0);" title="">照明</a></li>
                            <li><a href="javascript:void(0);" title="">外汇报价</a></li>
                            <li><a href="javascript:void(0);" title="">成立公司</a></li>
                            <li><a href="javascript:void(0);" title="">冷饮加盟</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
            
    </div>
    <?php include('_footer.html');?>
</body>
</html>